	maharani{color: black}
	.a{font-size: 13px}
	.b{font-family: Calibri}


input[type-text]{width: 100%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 18px;
	font-size: 16px;
	background-color: white;
	background-position: 10px 10px;
	background-repeat: no repeat;
	padding: 12px 20px 12px 40px;}

#konten{
	font-family: 'Poppins', sans-serif;
}

h1 {
	color: red;
}

.button{background-color: #555555;
	color: black;
	border: none;
	color: white;
	padding: 5px 60px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-family: calibri;
	margin: 4px 2px;
	cursor: pointer;
}

	kamila{color: grey}
	.a{font-size: 14px}
	.b{font-family: arial}

.testimoni {
	margin-left: 500px;
	margin-right: auto;
	margin-top: 20px;
}

.rating{
	margin-left: 100px;
}

.img{
	margin-left: 85px;
	border-radius: 50%;
}

.name{
	margin-left: 50px;
}

table.testimoni{
	margin-left: auto;
	margin-right: auto;
}

.btnsearch{
	margin-left: 50px;
}